.title {
	color: $orange;
	font-size: 40px;
	font-weight: bold;
}

ul.posts-list {
	a {
		color: $orange;
		&:hover {
			color: darken($orange, 10%);
		}
	}

	li {
		clear: both;
		margin-top: 60px;
		margin-bottom: 60px;	
		.topic {
			font-size: 14px;
		}
		.date {
			font-size: 14px;
		}
		.summary {
			font-size: 16px;
			clear: both;		
		}
	}
}

.post-details {
	div:first-of-type {
		float: left;
	}
	div:last-of-type {
		float: right;
	}
}