$black: #222222; // primary text
$dark: #383838;
$very-light-gray: #EDEDED;
$light-gray: #D9D9D9;
$gray: #817878;
$white: #FFFCEE;
$red: #FB3F00;  // alert
$dark-red: #B53900;
$light-blue: #04BACF; // secondary
$blue: #036FC0;
$light: #F2EFE2;
$orange: #F2641B; // primary
$green: #5da423; // success


$light-background: $very-light-gray;
$main-text: $black;
