<h3>Some Personal Projects</h3>


<div class='work-history'>
    <div class='main-title'>
      <div class='work-title left'>
	      Friends Graph
	      <span>{{linkedin-login}}</span>
      </div>
      <div class='date right'>Started: Oct 26, 2014</div>      
    </div>

    <div class='clear'></div>
    <div class='section'>
      <div class='left'>
        <ul>
	        {{#link-to 'friends-graph.index'}}<li>See the tool</li>{{/link-to}}
	        {{#link-to 'posts.show' 2}}<li>Blog Post</li>{{/link-to}}
	        {{#link-to 'posts.show' 2}}<li>Github Code</li>{{/link-to}}
        </ul>
      </div>
      <div class='right'>
        <p>
        Ultimately the intention of this tool is to associate connections between me and another person, really just for fun.
        </p>
        <p>
        I like the idea of illustrating interpersonal connections this way, and want to built in weighting of associations both between user and friends, and then have those weightings visually impact connections between the two users (being me and the person using the tool).  
        </p>
        <p>
        It would be great to grow this out to be more generalizable so that any two people could use it.
        </p>

        
      </div>
    </div>
    <div class='clear'></div>
</div>