

<h1 class='post title'>{{title}}</h1>
{{time-formatter time=createdAt}}
<div class='entry'>{{{formattedEntry}}}</div>

<div class='posts-right-sidebar'>
{{{currentAnnotation.formattedEntry}}}
</div>

