<ul class='posts-list'>
	{{#each post in posts}}
		<li>{{post-display post=post action='choosePost'}}</li>
	{{/each}}
</ul>

<div class='posts-right-sidebar'>
	{{resume-provider chooseResume='goToResume'}}
</div>
