<div class='posts-container'>
I've been mostly self taught, and I've had a couple jobs working in Rails and Ember.  Due to the awesome Ruby community I was able to find my way to an a couple of jobs and get my feet somewhat firmly grounded in the craft.  However I wasn't getting very well rounded as programmer.  I eventually got an internship at Big Nerd Ranch and found myself surrounded by amazing programmers that were more than willing to teach me what they know.


I think I have a unique perspective.  Having worked for a while on production apps without anyone to help me through the dificault times made me really hungry of experienced help.  I can starkly see the contrast between not knowing what you're doing and doing it in a professional way.  

A lot of this blog is about me sharing that learning to the world.	

</div>

<div class='posts-right-sidebar'>
	{{resume-provider chooseResume='goToResume'}}
</div>
