

<div class='posts-container'>

	<h1>Patrick Dougall</h1>

	
	<div class='self-summary'>
		<h3>SELF SUMMARY</h3>
		<p>
		I've been mostly self taught, and I've had a couple jobs working in Rails and Ember.  Due to the awesome Ruby community I was able to find my way to an a couple of jobs and get my feet somewhat firmly grounded in the craft.  However I wasn't getting very well rounded as programmer.  I eventually got an internship at Big Nerd Ranch and found myself surrounded by amazing programmers that were more than willing to teach me what they know.
		</p>

		<p>
		I have a unique perspective.  Having worked for a while on production apps without anyone to help me through the dificault times made me really hungry of experienced wisdom.  I found that wisdom at Big Nerd Ranch and have taken advantage of it.  Now there is no doubt that with better practices my life becomes much more enjoyable.	
		</p>

		<p>
		Internships can't last for ever and it's coming time to find work again.  I'm excited to see the same chalenges as before with a new knowledge base and skill level.  Let me know if you're looking for tallent.
		</p>
	</div>

</div>

<div class='posts-right-sidebar'>
	{{resume-provider chooseResume='goToResume'}}
</div>
